---
title: Articolo del Blog
description: Questa è la descrizione di uno degli articoli del blog
tags: post
date: Created
luogo: Espoo, Finland
type: article
---
<!DOCTYPE html>
<html lang="it">
{% include "head-article.njk" %}
<!-- Start Body -->
<body>
    {% include "nav.njk" %}
    <article>
        <small class="info">
            {{ luogo }}&nbsp;
            <time datetime="{{page.date}}">{{page.date | buildDate}}</time>&nbsp;&ndash;&nbsp;
            {{content | readingTime}}&nbsp;to&nbsp;read
        </small>
        <h1>{{ title }}</h1>
        {{content | safe}}
    </article>
    {% include "footer.njk" %}
</body>
<!-- End Body -->
</html>
