---
title: Blog
description: In questa pagina troverai tutti i pots che ho pubblicato
keyword: test
type: website
---
<!DOCTYPE html>
<html lang="it">
{% include "head-website.njk" %}
<!-- Start Body -->
<body>
    {% include "nav.njk" %}
    <!-- Parallax Cross -->
    <div class="parallax-cross-horizontal"></div>
    <div class="parallax-cross-vertical"></div>
    <!-- Main Content -->
    <main>
        <ul class="elenco-posts">
            <li class="posts">
                {{content | safe}}
            </li>
        {%- for post in collections.visiblePosts | reverse -%}
            <li class="posts">
                <h2><a href="{{post.url}}">{{post.data.title}}</a></h2>
                <p>{{post.data.description | safe}}</p>
                <small class="info">
                    <time datetime="{{post.data.date}}">{{post.data.date | buildDate}}</time>&nbsp;&nbsp;&ndash;&nbsp;
                    {{content | readingTime}}&nbsp;to&nbsp;read
                </small>
            </li>
        {%- endfor -%}
        </ul>
    </main>
    {% include "footer.njk" %}
</body>
<!-- End Body -->
</html>
