---
title: Pagina Generica
description: è una pagina come tante, oppure tante pagine sono come lei?
keyword: test
type: website
---
<!DOCTYPE html>
<html lang="it">
{% include "head-website.njk" %}
<!-- Start Body -->
<body>
    {% include "nav.njk" %}
    <!-- Parallax Cross -->
    <div class="parallax-cross-horizontal"></div>
    <div class="parallax-cross-vertical"></div>
    <!-- Main Content -->
    <main>
        {{content | safe}}
        <!-- Removed temporary content -->
    </main>
    {% include "footer.njk" %}
</body>
<!-- End Body -->
</html>
