---
title: Pagina Generica
description: è una pagina come tante, oppure tante pagine sono come lei?
keyword: test
type: website
---
<!DOCTYPE html>
<html lang="it">
{% include "head-website.njk" %}
<!-- Start Body -->
<body>
    {% include "nav.njk" %}
    <!-- Rotated Parallax Cross Wrapper -->
    <div class="parallax-cross-wrapper">
        <!-- Parallax Cross -->
        <div class="parallax-cross-horizontal">
            <div class="parallax-background-element"></div>
        </div>
        <div class="parallax-cross-vertical">
            <div class="parallax-background-element"></div>
        </div>
    </div>
    <!-- Main Content -->
    <main>
        {{content | safe}}
        <!-- Removed temporary content -->
    </main>
    {% include "footer.njk" %}
    <script src="/js/parallax.js"></script>
</body>
<!-- End Body -->
</html>
